:root {
  --content-width: 200px;
  --handle-width: 30px;
}

pwc-sliding-panel {
  position: absolute;
  display: block;
  width: var(--content-width);

  background: white;
  border: 1px black solid;
}

a.handle {
  display: block;
  height: var(--handle-width);
  width: var(--handle-width);

  background: white;
  border: 1px black solid;
  cursor: pointer;
}

/** left **/

pwc-sliding-panel[position="left"] {
  left: calc(var(--content-width) * -1);
}

pwc-sliding-panel[position="left"][active] {
  left: 0px;
}

pwc-sliding-panel[position="left"] > a {
  position: absolute;
  right: calc(-1 * var(--handle-width));
}

/** right **/
