:root {
  --pwc-sliding-panel___content-width: 200px;
  --pwc-sliding-panel___transition-duration: 0.25s;
}

pwc-sliding-panel {
  display: flex;
  align-items: flex-start;
  position: absolute;

  transition: all var(--pwc-sliding-panel___transition-duration) ease;
  box-sizing: border-box;
}

/** left **/

pwc-sliding-panel[anchor="left"] {
  left: calc(var(--pwc-sliding-panel___content-width) * -1);
}

pwc-sliding-panel[anchor="left"].pwc-sliding-panel___active {
  left: 0px;
}

/** right **/

pwc-sliding-panel[anchor="right"] {
  right: calc(var(--pwc-sliding-panel___content-width) * -1);
}

pwc-sliding-panel[anchor="right"].pwc-sliding-panel___active {
  right: 0px;
}
